<ion-header>
  <ion-toolbar>
    <ion-title>Select Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>This is the Modal page.</h1>
  <ion-grid *ngFor="let item of ticketholders; index as i">
    <ion-row>
      <ion-col>
        <ion-button (click)="selectTransaction(i)" color="primary">Select

        </ion-button>
      </ion-col>
      <ion-col>{{item.transaction_id}}</ion-col>
      <ion-col>{{item.customerName}}</ion-col>
    </ion-row>

  </ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="closeModal()" color="warning">Cancel</ion-button>
    </ion-col>
  </ion-row>
</ion-content>